@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Gotham-Black';
		src: url('./fonts/Gotham/Gotham-Black.ttf');
	}
	@font-face {
		font-family: 'Gotham-Book';
		src: url('./fonts/Gotham/Gotham-Book.ttf');
	}
	@font-face {
		font-family: 'Gotham-Medium';
		src: url('./fonts/Gotham/Gotham-Medium.ttf');
	}

	.Gotham-Black {
		font-family: Gotham-Black;
	}
	.Gotham-Book {
		font-family: Gotham-Book;
	}
	.Gotham-Medium {
		font-family: Gotham-Medium;
	}
	
	body {
		@apply Gotham-Book text-lg font-normal text-slate-600
	}
	h1, h2, h3, h4, h5, h6, strong {
		@apply Gotham-Medium font-bold
	}
}

@layer components {
	.container {
    @apply px-5 mx-auto max-w-7xl;
  }
	
}